{% extends "::base.html.twig" %}

{% block title %}web3tcEchangeBundle:Admin:pays{% endblock %}

{% block body %}
    
    <div class='well'>    
        <h1>Ajouter un pays</h1>
    </div>

   <div class="jumbotron">
        <form class="form-in-line" method="post" role="form" {{ form_enctype(form) }}>
            {{ form_rest(form) }}
            <input type="submit" class="btn btn-primary" />
        </form>
   </div>

{% endblock %}
