{# src/web3tc/EchangeBundle/Resources/views/Echange/listeContrats.html.twig #}

{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="well">
                <h2> Présentation du Projet</h2>
                <br/>
                <p>Bienvenue sur notre site WEB ami Insalien.</p>
                <br/>
                <br/>
                
                <h4>Bonne visite !!</h4>
            </div>
        </div>  
    </div>  
{% endblock%}
